nav,
ul,
li {
    border: 5px solid gold;
    border-radius: 10px 10px 10px 10px;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

nav ul li:hover {
    border: 5px solid gold;
    border-radius: 10px 10px 10px 10px;
    background-color: aquamarine;
    text-decoration: none;
}